  :root{
  --headcolor:#393E46;
  --bgcolor:#696d74;
  --quescont:#EEEEEE;
  --opcolor:#0bacb5;
  --opselected:#66d8c7;
  --op:0.9;
  }

  *{
    font-family: Times, 'Times New Roman', serif
  }

   h1{
    color: black;
    text-align: center;

  }
  body{
   background-image: url("images/image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--opcolor);
      color: var(--opselected);
    }
    
    li {
      float: left;
    }
    
    li a, .dropbtn {
      display: inline-block;
      color: var(--headcolor);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: var(--opselected);
      color: var(--bgcolor);
    }
    
    li.dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--opcolor);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: var(--headcolor);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: var(--opselected);}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .button {
      border: none;
      color: var(--quescont);
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: var(--headcolor); 
      color: var(--opcolor); 
       border: 2px solid var(--bgcolor);
    }

    .button-container {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .button:hover {
      background-color: var(--opcolor);
      color: var(--headcolor);
    }

   